# set up the global environment
on init
    export LD_LIBRARY_PATH /vendor/lib:/system/lib:/system/lib/ste_omxcomponents 
    export OMX_STE_ENS_COMPONENTS_DIR /system/lib/ste_omxcomponents/
    export OMX_BELLAGIO_LOADER_REGISTRY /system/omxloaders
